body{
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding: 20px;
}

h1{
    color: darkblue;
}

.container{
    margin-bottom: 20px;
}

input{
    padding: 10px;
    margin: 5px;
}

button{
    padding: 10px;
    background-color: darkblue;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover{
    background-color: blue;
}

table{
    width: 100%;
    background-color: white;
    border-collapse: collapse;
}

th, td{
    padding: 10px;
    text-align: center;
}